{% extends "layout.html" %}
{% block content %}
<div class="container-fluid about pt-5 pb-5" id="about">
    <div class="container">
        <h5 class="h5 text-center pt-5">ABOUT US</h5>
        <h1 class="h1 text-center">Our Mission & Vision</h1>
        <div class="row pt-5">

            <div class="col-md-4">
                <img class="img-fluid mt-3" src="../static/images/volunteer.jpg">
            </div>

            <div class="col-md-4">
                <div class="box p-2">
                    <h3 class="h3 p-2 text-center">How Povall helps</h3>
                    <p class="p-2 text-center">We are a young team with an enormous love for the world without poverty where people in the world can live happily and healthy. Most importantly, we want to spread the information about pitiful lives to the world and tell them that just a little help from everyone can make a big change for poor families. That’s why our mission is to gather all charitable organisations and kind-hearted people together to help the disadvantaged people in the world who are dying every day without clean water, good food and a safe home.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box p-2">
                    <h3 class="h3 p-2 text-center">How Povall works</h3>
                    <p class="p-2 text-center">To spread those pitiful lives to the world, the PoVall activates the function where some local or community organizations that aim to alleviate poverty can do some important things such as post their upcoming campaigns, call for donations from other kind-hearted people and invite volunteers from local citizens for their campaigns. This website is designed for organisations to manage their donations easily and safely as well as manage their members that are signed up for the campaigns. </p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}
